{% extends 'base.html' %}
{% block title_block %}
<title>Password Reset | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}

{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-info text-center" role="alert">Invalid Request!</div>
</div>
{% else %}

  <div class="container">
    <br>
    <br>
    <div class="alert alert-info" role="alert">
        Your password has been set. You may go ahead and <strong><a href="{% url 'users:user_login' %}">Login</a></strong>!
    </div>
  </div>

{% endif %}
{% endblock %}
