{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
<title>Password Reset | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}

{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-info text-center" role="alert">Invalid Request!</div>
</div>
{% else %}

<div class="container">
  <br>
  <br>
  <div class="card" style="border-radius:0px;">
    <h5 class="card-header bg-info text-center" style="border-radius:0px;color:white;">
      Forgot Password
    </h5>
    <div class="card-body">
      <div class="alert alert-info" role="alert">Please enter your email address.</div>
      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-info" type="submit" value="Submit">
      </form>
    </div>
  </div>
  <br>
</div>

{% endif %}

{% endblock %}
