{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
<title>Password Reset | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}

{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-info text-center" role="alert">Logout Required to carry on further actions!</div>
</div>
{% else %}

<div class="container">
  {% if validlink %}
      <div class="card" style="border-radius:0px;">
        <h5 class="card-header bg-info text-center" style="border-radius:0px;color:white;">
          Change password
        </h5>
        <div class="card-body">
          <div class="alert alert-info" role="alert">Please enter your new Password.</div>
          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-info" type="submit" value="Change password">
          </form>
        </div>
      </div>
      <br>

  {% else %}
    <div class="alert alert-info" role="alert">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </div>
  {% endif %}
</div>

{% endif %}

{% endblock %}
