{% extends 'base.html' %}
{% block title_block %}
<title>Password Reset | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}

{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-info text-center" role="alert">Invalid Request!</div>
</div>
{% else %}

<div class="container">
  <br>
  <br>
  <div class="alert alert-info" role="alert">
      We've emailed you instructions for setting your password, if an account exists with the email you entered,
      you should receive a reset password link shortly.
      If you don't receive an email, please make sure you've entered the email-address you registered with.
  </div>
</div>

{% endif %}

{% endblock %}
