{% extends 'base.html' %}
{% block title_block %}
<title>Login Failed | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
  <div class="container">
    <div class="alert alert-danger" role="alert">The username and password you entered did not match our records. Please double-check and <strong><a href="{% url 'users:user_login' %}">login</a></strong> again.</div>
  </div>
{% endblock %}
