{% extends 'base.html' %}
{% block title_block %}
<title>Login | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
<br>
<br>

{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-info text-center" role="alert">You are already logged in!</div>
</div>
{% else %}
<div class="row justify-content-md-center">
<div class="col-md-5">

  <form action="/users/user_login/" method="post">
    <div class="card" style="border-radius:0px;">
  <h5 class="card-header text-center bg-info" style="border-radius:0px;" >
    <a style=" color: white;">Sign In</a>
  </h5>
  <div class="card-body">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username:</label>
      <input class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <input class="btn btn-info" type="submit" value="Login"> &nbsp;&nbsp; <a href="{% url 'password_reset' %}">Forgot Password?</a>

  </div>
  <div class="card-footer text-muted">
    Don't have an account! <a href="{% url 'users:user_register' %}">Sign Up Here</a>
  </div>
</div>
</form>
<br>

</div>
</div>
{% endif %}
</div>

{% endblock %}
