{% extends 'base.html' %}
{% block title_block %}
<title>Profile | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
<div class="row">
{% if user.is_staff %}
  <div class="col-12">
    <div class="card text-center" style="border-radius:0px;">
      <div class="card-body">
        <div class="card-text">You have rights to access the <a href="{% url 'admin:index' %}" class="alert-link" target="_blank">ADMIN</a> page.</div>
      </div>
    </div>
    <br>
  </div>
{% endif %}
  <div class="col-md-3">
    <div class="card"style="border-radius:0px;">
    <div class="card-header text-center bg-info" style="border-radius:0px;color:white;font-size:1.5rem;padding:1rem;">{{ profile.first_name | upper }} {{ profile.last_name | upper }}</div>
      <div class="card-text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a style="color:#1e8bff;">Username:</a> {{ user }}</li>
          <li class="list-group-item"><a style="color:#1e8bff;">Email:</a> {{ user.email }}</li>
          <li class="list-group-item"><a style="color:#1e8bff;">College:</a> {{ profile.college }}</li>
          <li class="list-group-item"><a style="color:#1e8bff;">Department:</a> {{ profile.department }}</li>
          <li class="list-group-item"><a style="color:#1e8bff;">Current Year:</a> {{ profile.current_year }}</li>
        </ul>
      </div>
    </div>
    <br>

    <div class="card bg-info text-center" style="border-radius:0px;color:white;">
      <div class="card-body">
        <p class="card-text">This is your profile. Here you can view your registered events.</p><hr>
        <p class="card-text">Feeling Insecure? <strong><a href="{% url 'users:change_password' %}" style="color:#d1e1ff">Change Password!</a></strong></p><hr>
        <p class="card-text">To make changes to your profile please contact <strong>cessgndu@gmail.com</strong></p>
      </div>
    </div>
    <br>
  </div>
  <div class="col-md-9">
    <div class="card text-center" style="border-radius:0px;">
      <div class="card-header bg-info" style="border-radius:0px;color:white;">Registered Events / Workshops</div>
      <div class="card-body">
        <ul class="list-group">
          {% for reg in regs %}
          <li class="list-group-item list-group-item-info">You registered for <strong>{{ reg.event }}</strong> on {{ reg.time }}</li>
          {% empty %}
          <li class="list-group-item list-group-item-warning">No Registerations Yet!</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <br>
  </div>

</div>

</div>
{% endblock %}
