{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
<title>Signup | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">

{% if user.is_authenticated %}
  <div class="container">
    <div class="alert alert-info text-center" role="alert">You are already logged in! You need to logout to register for a new account!</div>
  </div>
{% else %}

<div class="row justify-content-md-center">
<div class="col-md-7">
  {% if registered %}
<div class="container">
    <div class="alert alert-success text-center"><strong>Success!</strong> Thank You for Registering. Now you can <strong><a href="{% url 'users:user_login' %}">login</a></strong></div>
</div>
  {% else %}
  <div class="card" style="border-radius:0px;">
    <h5 class="card-header bg-info text-center" style="background-color : #d1ecf1 ;border-radius:0px;" >
      <a style=" color: white;">Sign Up</a>
    </h5>
    <div class="card-body">
        <a style="color : red ;">{{ user_form.non_field_errors }}<a>

    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
        <div class="form-group">
        {{ user_form.username.errors }}
        {{ user_form.username | as_crispy_field }}
        </div>
        <div class="row form-row">
          <div class="col-md">
            {{ profile_form.first_name.errors }}
            {{ profile_form.first_name | as_crispy_field }}
          </div>
          <div class="col-md">
            {{ profile_form.last_name.errors }}
            {{ profile_form.last_name | as_crispy_field }}
          </div>
        </div>
        <div class="form-group">
        {{ user_form.email.errors }}
        {{ user_form.email | as_crispy_field }}
        </div>
        <div class="form-group">
        {{ profile_form.college.errors }}
        {{ profile_form.college | as_crispy_field }}
        </div>
        <div class="row form-row">
          <div class="col-md">
            {{ profile_form.ddepartment.errors }}
            {{ profile_form.department | as_crispy_field }}
          </div>
          <div class="col-md">
            {{ profile_form.current_year.errors }}
            {{ profile_form.current_year | as_crispy_field }}
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md">
            {{ user_form.password.errors }}
            {{ user_form.password | as_crispy_field }}
          </div>
          <div class="col-md">
            {{ user_form.confirm_password.errors }}
            {{ user_form.confirm_password | as_crispy_field }}
          </div>
        </div>
        <input class="btn btn-info form-control" type="submit" value="Register">

    </form>
  </div>

  <div class="card-footer text-muted">
    Already Registered? <a href="{% url 'users:user_login' %}">Login Here</a>
  </div>

  </div>
  {% endif %}
</div>
</div>


{% endif %}
</div>
<br>
{% endblock %}
