{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Guru Nanak Dev University, Amritsar presents you with techno cultural fest of the season POLARIS 2k18 
(26th to 28th OCTOBER, 2018). 
Visit the holy city of Amritsar and taste the culture of Punjab with us. So get ready to dive in a full 3 day venture of technology and amusement and experience the splash of joy!">
    <meta name="theme-color" content = "#050505">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% block style_block %}
    {% endblock %}
    {% block title_block %}
    <title></title>
    {% endblock %}
    <style media="screen">
      body{
        background-image: url("{% static 'circuit.jpg' %}");
      }
      @media screen and (max-width: 670px){
      .exp-but{
          background-color: #138496 !important;
          border-color: #138496 !important;
          width: 17rem !important;
        }
      .zoom:hover { transform: scale(1) !important; }

      .zoom-spon:hover{
        transform: scale(1) !important;
      }

      .zoom-tile:hover {
        transform: scale(1) !important;
      }
      .zoom-tile:active {
        transform: scale(1) !important;
      }
      }
      .navbar{
        text-align: center;
        padding: 0.67rem;
        background-color: rgba(255, 255, 255, 0);
        border-bottom: 2px solid #032b2b;
        z-index: 4;
      }
      .nav-but{
        font-size: 1.13rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.60);
        border-color: #032b2b;
      }
      .nav-but-but{
        background-color: rgba(0, 0, 0, 0.60);
        border-color: #032b2b;
      }
      .nav-but-gp{
        width: 100%;
      }
      .zoom {
        transition: all .2s ease-in-out;
      }
      .zoom:hover {
        transform: scale(1.1);
      }
      .zoom-tile {
        transition: all .2s ease-in-out;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
      }
      .zoom-tile:hover {
        transform: scale(1.05);
        background-image: url("{% static 'hover.jpg' %}");
        background-size: 25rem;
      }
      .zoom-tile:active {
        transform: scale(1);
      }
      .zoom-spon{
        transition: all .35s ease-in-out;
      }
      .zoom-spon:hover{
        transform: scale(1.05);
      }
      ::-moz-selection { /* Code for Firefox */
    color: white;
    background: #17a2b8;
      }

      ::selection {
    color: white;
    background: #17a2b8;
      }
    </style>
  </head>
<body>
  {% block ring_block %}
  {% endblock %}
  <nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <div class="container-fluid">
        <div class="row text-center">
        <div class="col-lg-2"><a class="btn btn-info nav-but" href="{% url 'index' %}" role="button">Home</a></div>
        <div class="col-lg-2"><a class="btn btn-info nav-but" href="{% url 'events:events_all' %}" role="button">Events/Workshops</a></div>
        <div class="col-lg-2"><a class="btn btn-info nav-but" href="{% url 'sponsors' %}" role="button">Sponsors</a></div>
        <div class="col-lg-2"><a class="btn btn-info nav-but" href="{% url 'updates:updates_all' %}" role="button">Updates</a></div>
        <div class="col-lg-2"><a class="btn btn-info nav-but" href="{% url 'forums:forums_all' %}" role="button">Forums</a></div>
        {% if user.is_authenticated %}
        <div class="col-lg-2">
            <div class="dropdown">
              <button class="btn btn-info nav-but" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </button>
              <div class="dropdown-menu dropdown-menu-right" style="padding:0px;" aria-labelledby="dropdownMenuButton">
                <div class="card-body" style="width:18rem;">
                  {% if user.is_staff %}
                    <div class="alert alert-info" role="alert">{{ user }} <img src="{% static 'verified.png' %}" style="height:1.2rem;"></div>
                    <div class="alert alert-info" role="alert">{{ user.email }}</div>
                  {% else %}
                    <div class="alert alert-info" role="alert">{{ user }}</div>
                    <div class="alert alert-info" role="alert">{{ user.email }}</div>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  <div class="row form-row">
                    <div class="col">
                      <a class="btn btn-info form-control" href="{% url 'users:profile' %}" role="button">Profile</a>
                    </div>
                    <div class="col">
                      <a class="btn btn-info form-control" href="{% url 'users:user_logout' %}" role="button">Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% else %}
        <div class="col-lg-2"><a class="btn btn-info nav-but" href="{% url 'users:user_login' %}" role="button">Login/Signup</a></div>
        {% endif %}
        </div>
      </div>
    </div>
</nav>
<br>
{% block body_block %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script  src="{% static 'index.js' %}"></script>
</body>
</html>
