{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content = "#050505">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--
    <link rel="stylesheet" href="style.css">
  -->
    <title>Error 404 | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
    <style media="screen">
      body{
        /*background-color: #35363d; */
        background-image: url("{% static 'circuit.jpg' %}");
      }
      ::-moz-selection { /* Code for Firefox */
    color: white;
    background: #17a2b8;
      }

      ::selection {
    color: white;
    background: #17a2b8;
      }
    </style>
  </head>
<body>

<div class="container">
  <br>
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      <img src="{% static 'icon.png' %}" style="height:5rem;">
      <br><br>
      <p style="color: #969696;font: 600 45px/1.5em brandon-grotesque,sans-serif;">PAGE NOT FOUND</p>
      <br>
      <p style="color: white;font-size: 1.9rem;">The link you clicked may be broken or the page may have been removed.</p>
      <br>
      <p style="color:#969696;">VISIT THE <a href='{% url 'index' %}' style="color:#ff3881">HOMEPAGE</a> OR EMAIL US AT <a style="color:#ff3881">cessgndu@gmail.com</a> ABOUT THE PROBLEM<p>
    </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
