{% extends 'base.html' %}
{% load static %}
{% block title_block %}
<title>Explore More | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
<div class="container">
  <p style="color:white;font-size:2rem;">What's Happening!!</p>
  <br>
  <p style="color:white;font-size:1.5rem;">Entertainment</p>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#17a2b8;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Dance</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#ee1111;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Dramatics</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#17a2b8;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Film & Design</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#603cba;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Arts & Crafts</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color: #ff0097;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Music</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#9f00a7;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Comedy</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#2b5797;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Fashion</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#1e7145;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Culture</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#2b5797;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">History</p>
    </div>
  </div>
  <br>
  <p style="color:white;font-size:1.5rem;">Literature</p>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#2b5797;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Literary</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#9f00a7;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Quizzing</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#17a2b8;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Group Discussion</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#b91d47;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Poetry</p>
    </div>
  </div>
  <br>
  <p style="color:white;font-size:1.5rem;">Interests</p>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#ff0097;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Singing</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#17a2b8;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Sports</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#ee1111;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Camera</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#00aba9;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Painting</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#9f00a7;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Gaming</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#00aba9;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Computing</p>
    </div>
    <div class="col-lg-2 col-md-3 col-5 text-center zoom-tile" style="background-color:#603cba;color:white;height:11rem;margin:5px;display:table;">
      <p style="font-size:1.4rem;display:table-cell;vertical-align:middle;">Science</p>
    </div>
  </div>
  <br>
</div>
{% endblock %}
