{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% block style_block %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<style media="screen">
@media screen and (max-width: 670px){
  #logo{
    height:16rem !important;
  }
  .top-break{
    height: 5px !important;
  }
}
.break{
  position: relative;
  height: 14.8vh;
  z-index: 2;
}
#logo{
  padding: 0px;
  height:20rem;
}
</style>
{% endblock %}
{% block title_block %}
<title>Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}

{% block ring_block %}
<img id="a1" src="{% static 'circle/01.png' %}">
<img id="b1" src="{% static 'circle/02.png' %}">
<img id="a2" src="{% static 'circle/03.png' %}">
<img id="b2" src="{% static 'circle/04.png' %}">
<img id="a3" src="{% static 'circle/05.png' %}">
<img id="b3" src="{% static 'circle/06.png' %}">
<img id="b4" src="{% static 'circle/07.png' %}">
{% endblock %}

{% block body_block %}

<div class="container-fluid"><div class="row"><div class="col-md-12 break top-break"></div></div></div>

<div class="container">
<div class="row justify-content-center">
<div class="col-md-9">
  <div class="row justify-content-center" >
    <div class="col-sm-4 col-10" id="logo">
      <img class="img-fluid" src="{% static 'logo/01.png' %}" id="aa" >
      <img class="img-fluid" src="{% static 'logo/02.png' %}" id="bb" >
      <img class="img-fluid" src="{% static 'logo/03.png' %}" id="cc" >
    </div>
    <div class="col-sm-8 col-10" id="location" style=" padding: 0px; z-index:2;">
      <img class="img-fluid" src="{% static 'logo/text.png' %}">
    </div>
  </div>
</div>
</div>
 <div class="row justify-content-center">
    <div class="col-md-3 text-center" style="padding:1.51vh; z-index:6;">
      {% if user.is_authenticated %}
      <a class="btn btn-info nav-but exp-but" href="{% url 'events:events_all' %}" role="button" style="padding:1.51vh;">REGISTER FOR EVENTS</a>
      {% else %}
      <a class="btn btn-info nav-but exp-but" href="{% url 'users:user_register' %}" role="button" style="padding:1.51vh;">CREATE ACCOUNT</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="container-fluid"><div class="row"><div class="col-md-12 break"></div></div></div>
<div class="container">
  <div class="card text-center foo-1" style="background-color: rgba(63, 63, 63, 0.42) ; border: 2px solid #032b2b ;">
    <h5 class="card-header" style="color :#d5d6ff;">About Polaris'18</h5>
    <div class="card-body">
      <p class="card-text" style="color :#d5d6ff;">
        We the students of GNDU Amritsar, are organizing our technical festival POLARIS on (26-October-2018). We are organizing a variety of events that include competitions, exhibitions, lectures as well as workshops. The fest will provide a platform for students from all over the country to showcase their technical skills, compete with each other and most importantly learn from each other and from the lectures and workshops that will be held on various topics. All you need is a learning attitude and you are ready to go!
      </p>
    </div>
  </div>
<br>
  <div class="card text-center foo-1" style="background-color: rgba(63, 63, 63, 0.42) ; border: 2px solid #032b2b ;">
    <h5 class="card-header" style="color :#d5d6ff;">About CESS</h5>
    <div class="card-body">
      <p class="card-text" style="color :#d5d6ff;">
        The engine which drives the CET department towards excellence under the guidance of Head of Department Dr. Sandeep Sharma. The aim is to modify the students to extraordinary individuals, increasing their technical skills, experience along with imbibing in them the practical skills and aspects such as integrity, team spirit, cooperation which will help to merge and contribute much easily in the corporate world, above all broadening their perspective. CESS has different teams focusing primarily on the skills such as coding, public speaking, drawing and design, marketing and promotions, thus developing in students the skills imperative in the real world. Several events are organised by CESS throughout the year such as workshops, seminars, techfest enhance technical knowledge and skills, giving the students necessary knowledge and guidance for future endeavours.
      </p>
    </div>
  </div>
<br>
<br>
<br>
<div class="card text-center foo-1" style="background-color: rgba(63, 63, 63, 0.42) ; border: 2px solid #032b2b ;">
  <h5 class="card-header" style="color :#d5d6ff;">Our Team</h5>
  <div class="card-body">
    <p class="card-text" style="color :#d5d6ff;">
      A strong team can take a vision and turn it into reality.
    </p>
  </div>
</div>
<br>
<div class="row">
{% for member in members %}
<div class="col-md-3 col-sm-4 col-6">
  <div class="card text-center foo-1" style="background-color: rgba(63, 63, 63, 0.42) ; border: 2px solid #032b2b ;" >
    <img class="card-img-top img-fluid" src='{{ member.image.url }}' alt="Card image cap">
    <div class="card-footer" style="color :#d5d6ff; padding: 0.7553vh;">
    {{ member.name }}
  </div>
  </div>
  <br>
</div>
{% endfor %}
</div>
<br>
<br>
<div class="card foo-1" style="background-color: rgba(63, 63, 63, 0.42) ; border: 2px solid #032b2b">
    <h5 class="card-header text-center" style="color :#d5d6ff;">Contact Us</h5>
  <div class="card-body">
    <p class="card-text" style="color :#d5d6ff;">
      <div class="row">

        <div class="col-md-8" style="color :#d5d6ff;">
          <div class="alert alert-dark" role="alert">
            <div class="row col-md-12">
              Email : &nbsp;<strong>cessgndu@gmail.com</strong>
            </div>
            <div class="row">
              <div class="col-md-6">
                Puneet Saini:<br>+91-98880-96255<br>Ravgeet Dhillon:<br>+91-97802-21904
              </div>
              <div class="col-md-6">
                Rishab Chawla:<br>+91-89686-22195<br>Mohit Sharma:<br>+91-88724-60311
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row" style="padding:0.7553vh;">
            <a class="btn btn-info form-control" href="https://www.facebook.com/gnducess/" target="_blank" style="color: white; background-color:#3b5998; border-color: #3b5998;">facebook</a>
          </div>
          <div class="row" style="padding:0.7553vh;">
            <a class="btn btn-danger form-control" href="https://www.instagram.com/cess.gndu/?hl=en" target="_blank" style="color:white; background-color:#fb3958; border-color: #fb3958;">instagram</a>
          </div>
          <div class="row" style="padding:0.7553vh;">
            <a class="btn btn-success form-control" href="https://goo.gl/maps/3LyNgTNraw42" target="_blank" style="color: white;background-color: #28a745;border-color: #28a745;" >Google Maps</a>
          </div>
        </div>
      </div>
    </p>
  </div>
</div>
<br>
</div>


{% endblock %}
