{% extends 'base.html' %}
{% load static %}
{% block title_block %}
<title>Sponsors | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}

<div class="container">
  <p style="color:white;font-size:2rem;">Sponsors</p>
  <br>
<div class="row align-items-center">
  {% for spr in sponsors %}
      <div class="col-md-3 col-sm-4 col-6" >
        <div class="card zoom-spon">
          <a href="{{ spr.url }}" target="_blank"><img class="card-img-top img-thumbnail" src="{{ spr.image.url }}" alt=""></a>
        </div><br>
      </div>
  {% empty %}
  <div class="alert alert-light">
    Lots of Sponsors are coming!
  </div>
  {% endfor %}
</div>

<br>

<div class="alert alert-dark text-center" role="alert">
  <a href="https://drive.google.com/file/d/0B0D6BfkiIVNhQ0psUkdkOXljVVg2QnpncWk2WFQ1d3RRbFZv/view?usp=sharing" target="_blank" style="color:#1b1e21;">View Sponsorship Brochure</a>
</div>

</div>


{% endblock %}
