{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %}
<title>Update: {{ post.title }} | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
<!-- FACEBOOK SHARE BUTTON ONLY WORKS ON HEROKU DEPLOYED VERSION -->
  <meta property="og:url"           content="https://polaris.cessgndu.com/{{ request.path }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Update: {{ post.title }} | Polaris'18 GNDU, Amritsar" />
  <meta property="og:description"   content="{{ post.text }}" />
  <meta property="og:image"         content="{{ post.image.url }}" />
{% endblock %}
{% block body_block %}

<!-- FACEBOOK SHARE BUTTON ONLY WORKS ON HEROKU DEPLOYED VERSION -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container-fluid">
  <div class="card" style="border-radius:0px;">
    <div class="card-header" style="border-radius:0px;">Author : {{ post.user }} <img src="{% static 'verified.png' %}" style="height:1.2rem;"> , <a class="date">{{ post.time | timesince }} ago</a>
      <!-- FACEBOOK SHARE BUTTON ONLY WORKS ON HEROKU DEPLOYED VERSION -->
      <div class="fb-share-button" data-href="https://polaris.cessgndu.com/{{ request.path }}" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    </div>
    <div class="card-body"  style="background-color:#e0e0e0;">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="border-radius:0px;">
          <img class="card-img-top" style="border-radius:0px;" src="{{ post.image.url }}" alt="Card image cap">
          <div class="card-body" style="border-radius:0px;">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.text | linebreaksbr | urlize }}</p>
          </div>
          </div>
          <br>
        </div>
        <div class="col-sm-6">
          <p class="card-text">Comments:</p>
          {% for comment in comments %}
                <div class="card" style="border-radius:0px;">
                  <div class="card-header" style="border-radius:0px;">
                    {% if comment.user.is_staff %}
                    <p class="card-text"><small>By : {{ comment.user }} <img src="{% static 'verified.png' %}" style="height:1rem;"> ,<a class="date">{{ comment.time | timesince }} ago</a></small></p>
                    {% else %}
                    <p class="card-text"><small>By : {{ comment.user }} , <a class="date">{{ comment.time | timesince }} ago</a></small></p>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <p class="card-text">{{ comment.text | linebreaksbr | urlize }}</p>
                  </div>
              </div>
              <br>
              {% empty %}
              <div class="alert alert-warning" role="alert">Be the first one to comment!</div>
              {% endfor %}
            </div>
          </div>
        </div>
    <div class="card-footer">
    {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          {{ commentform | crispy }}
          <input class="btn btn-info" type="submit" value="Comment">
        </form>
    {% else %}
    <div class="row">
      <div class="col-md">
        <div class="card text-center" style="color: #004085;background-color: #cce5ff;border-color: #b8daff;">
          <div class="card-body">You need to <strong><a href='{% url 'users:user_login' %}'>login</a></strong> to comment.</div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  </div>
  <br>
</div>
{% endblock %}
