{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %}
<title>Updates | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center" style="border-radius:0px;">
        <h5 class="card-header">Welcome to Updates</h5>
      <div class="card-body">
        <div class="alert alert-info">
          Here you will find all the recent Polaris'18 updates.
        </div>
        <div class="alert alert-info">
          All the updates are managed by the members of CESS. We work in teams for successful completion of various jobs.
        </div>
        <a class="btn btn-info form-control" href="https://www.cessgndu.com" target="_blank" role="button">Visit CESS Homepage</a>
      </div>
      </div>
      <br>
    </div>
    <div class="col-md-6">
      {% for post in posts %}
      <div class="card" style="border-radius:0px;">
        <div class="card-header" style="border-radius:0px;">Author: {{ post.user }} <img src="{% static 'verified.png' %}" style="height:1rem;"> , {{ post.time | timesince }} ago</div>
        <a href="{% url 'updates:update_detail' post.id %}"><img class="card-img-top" style="border-radius:0px;" src="{{ post.image.url }}" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'updates:update_detail' post.id %}" style="color: #212529;">{{ post.title }}</a></h5>
          <p class="card-text">{{ post.text | truncatewords:30 | safe }} <a href="{% url 'updates:update_detail' post.id %}">Read More</a></p>
        </div>
      </div>
      <br>
      {% empty %}
      <div class="alert alert-info">Keep Calm and wait for Updates!</div>
      {% endfor %}

      {% if posts.has_other_pages %}
      <div class="pagination justify-content-center">
        <span class="step-links">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
          {% if posts.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page=1"><i class="fas fa-angle-double-left"></i></a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
          {% else %}
                  <li class="page-item active"><a class="page-link" tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>
                  <li class="page-item active"><a class="page-link" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
          {% endif %}

              <span class="current">
                  <li class="page-item active"><a class="page-link" tabindex="-1" style="border-radius:0px;">{{ posts.number }}</a></li>
              </span>

          {% if posts.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a></li>
          {% else %}
                  <li class="page-item active"><a class="page-link" tabindex="-1"><i class="fas fa-angle-right"></i></a></li>
                  <li class="page-item active"><a class="page-link" tabindex="-1"><i class="fas fa-angle-double-right"></i></a></li>
          {% endif %}
          </ul>
        </nav>
      </span>
      </div>
      <br>
      {% endif %}


    </div>
    <div class="col-md-3">
      <div class="card" style="border-radius:0px;">
        <div class="card-header text-center bg-info" style="border-radius:0px;color: white;">Recent Updates</div>
      <div style="padding:5px;">
      <ul class="list-group list-group-flush">
        {% for recent in recents %}
          <li class="list-group-item">
          <p class="card-text"><a href="{% url 'updates:update_detail' recent.id %}">{{ recent.title }}</a></p>
        </li>
        {% empty %}
        <li class="list-group-item">Keep Calm and wait for Updates!</li>
        {% endfor %}
      </ul>
      </div>
      </div>
      <br>
    </div>
  </div>

</div>
{% endblock %}
