{% extends 'base.html' %}
{% load static %}

{% block title_block %}
<title>Events/Workshops | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
<div class="container">
<div class="row">
{% for event in events %}
<div class="col-lg-3 col-md-4 col-sm-6 col-12">
  <div class="card text-center zoom" style="background-color: rgba(63, 63, 63, 0.42) ; border: 2px solid #032b2b ;" >
    <div class="card-header" style="color :#d5d6ff; padding: 4px;">{{ event.type }}</div>
    <img class="card-img-top img-fluid" src='{{ event.image.url }}' alt="Card image cap">
    <div class="card-body" style="padding : 10px;">
      <h5 class="card-title" style="color :#d5d6ff; ">{{ event.name }}</h5>
      <a href="{% url 'events:event_detail' event.id %}" class="btn btn-dark form-control" style="padding : 3px; ">Explore</a>
    </div>
  </div>
  <br>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
