﻿{% extends 'base.html' %}
{% block title_block %}
<title>{{ event.type }}: {{ event.name }} | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
<!-- FACEBOOK SHARE BUTTON ONLY WORKS ON HEROKU DEPLOYED VERSION -->
<meta property="og:url"           content="https://polaris.cessgndu.com/{{ request.path }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ event.type }}: {{ event.name }} | Polaris'18 GNDU, Amritsar" />
<meta property="og:description"   content="This event is for: {{ event.eligibility }}, From: {{ event.start }}, To: {{ event.end }}, Venue: {{ event.venue }}" />
<meta property="og:image"         content="{{ event.image.url }}" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}
{% block body_block %}
<!-- FACEBOOK SHARE BUTTON ONLY WORKS ON HEROKU DEPLOYED VERSION -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
<div class="row">
<div class="col-md-4">
  <div class="card text-center" style="background-color: rgba(63, 63, 63, 0.42) ; border: 2px solid #032b2b ;" >
    <h5 class="card-header" style="color :#d5d6ff;">{{ event.name }}</h5>
    <img class="card-img-top" src='{{ event.image.url }}' alt="Card image cap">
    <div class="card-body" style="padding : 0px;">
      <!-- FACEBOOK SHARE BUTTON ONLY WORKS ON HEROKU DEPLOYED VERSION -->
      <div class="card-footer" style="padding:5px;color :#d5d6ff;">{{ event.type }} | <div class="fb-share-button" style="" data-href="https://polaris.cessgndu.com/{{ request.path }}" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div></div>
    </div>
  </div>
  <br>
{% if event.registeration_open %}
<div class="card">
  <div class="card-body">
          <!-- Button trigger modal -->
        {% if user.is_authenticated %}
          {% for reg in regs %}
              {% if event.fee == 0 or reg.fee_status %}
              <ul class="list-group">
                <li class="list-group-item list-group-item-success text-center"><i class="far fa-check-circle"></i> Registered Successfully!</li>
                <li class="list-group-item list-group-item-success text-center"><i class="far fa-check-circle"></i> Fee Payment of ₹{{ event.fee }} Successful!</li>
              </ul>
              {% else %}
              <div class="alert alert-success text-center" role="alert"><i class="far fa-check-circle"></i> Registered Successfully!</div>
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><i class="fas fa-exclamation-circle"></i> Fee will be collected at event spot!</li>
                <li class="list-group-item list-group-item-info">Or you can pay fee using <a href="{% url 'events:payment' %}"><strong>Paytm</strong></a></li>
              </ul>
              {% endif %}
          {% empty %}
              <div class="alert alert-success text-center" role="alert">Registration is open!</div>
              <button type="button" class="btn btn-info form-control" data-toggle="modal" data-target="#exampleModal">Register</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to register for {{ event.name }}?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post">
                      {% csrf_token %}
                      {{ form }}
                      <input type="submit" class="btn btn-primary" value="Register"></input>
                    </form>
                  </div>
                </div>
                </div>
                </div>
            {% endfor %}
        {% else %}
        <!-- Button modal ends -->
        <div class="alert alert-success text-center" role="alert">Registration is open!</div>
        <div class="alert alert-info text-center" role="alert" style="margin-bottom:0px;">You need to <strong><a href="{% url 'users:user_login' %}">login</a></strong> to register</div>
        {% endif %}
    </div>
  </div>
{% else %}
<div class="card">
<div class="card-body">
  <div class="alert alert-danger text-center" role="alert">Registration is not yet open!</div>
  <button type="button" class="btn btn-info form-control" disabled>Register</button>
</div>
</div>
{% endif %}
<br>
</div>

<div class="col-md-8">
  <div class="card" style="background-color: rgba(63, 63, 63, 0.42) ; border: 2px solid #032b2b ;" >
    <h5 class="card-header text-center" style="color :#d5d6ff;">About this {{ event.type }}</h5>
    <div class="card-body" style=" color : #d5d6ff">
      {{ event.description | safe }}
    </div>
  </div>
  <br>
  <div class="card">
  <div class="card-header bg-info" style="color:white;">Fee: ₹{{ event.fee }}</div>
  <ul class="list-group">
    <li class="list-group-item">This event is for: {{ event.eligibility }}</li>
    <li class="list-group-item">From: {{ event.start }}</li>
    <li class="list-group-item">To: {{ event.end }}</li>
    <li class="list-group-item">Venue: {{ event.venue }}</li>
  </ul>
</div>
<br>
</div>
</div>
</div>
{% endblock %}
