﻿{% extends 'base.html' %}
{% load static %}
{% block title_block %}
<title>Payment | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}

{% block body_block %}
<div class="container">
<div class="row">
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="{% static 'paytm.png' %}" alt="Card image cap">
      <p class="card-text text-center">Scan code in Paytm App</p>
      <img class="card-img-top" src="{% static 'demoqrcode.png' %}" alt="Card image cap">
    </div>
    <div class="card-footer" style="background-color:#01B9F5;padding:0.4rem;"></div>
    <div class="card-footer" style="background-color:#012B74;padding:0.4rem;"></div>
  </div>
  <br>
</div>
<div class="col-sm-8">
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">1) Open Paytm App</li>
        <li class="list-group-item list-group-item-info">2) Scan this QR Code</li>
        <li class="list-group-item list-group-item-info">3) Enter payment amount</li>
      </ul>
      <br>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <p>Please provide these details in the message:</p>
          <ul style="list-style-type: circle;">
            <li><strong>Event/Workshop Name</strong></li>
            <li>Your <strong>Username</strong></li>
            <li>Your <strong>Email Address</strong></li>
            <li>Your <strong>Phone No.</strong></li>
          </ul>
        </li>
      </ul>
      <br>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">After confirming your payment, we will change your fee status to <strong>"PAID SUCCESSFULLY"</strong></li>
        <li class="list-group-item list-group-item-info">In case of any problem, feel free to email us at <strong>cessgndu@gmail.com</strong></li>
      </ul>
    </div>
  </div>
  <br>
</div>
</div>
</div>
{% endblock %}
