<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title></title>
    <style media="screen">
      body{
        margin: 0px;
        padding: 0px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
      }
      .btn:focus,.btn:active:focus,.btn.active:focus, .btn.focus,.btn:active.focus,.btn.active.focus {
        outline: none !important;
        box-shadow: none !important;
      }
    </style>
  </head>
<body unselectable="on">
  <div class="container-fluid">
    <div class="row align-items-center">
      {% if user.is_authenticated %}
      <div class="col-sm">
        {% for like in like_check %}
        <div class="btn-group" role="group" aria-label="Basic example">
          <a class="btn btn-outline-info form-control text-center" style="color:white;margin-bottom:1rem;padding: .65rem 1.15rem;background-color:#17a2b8;"><img src="{% static 'tick.png' %}" style="height:1.5rem;">&nbsp;Upvote</a>
          <a class="btn btn-outline-info form-control " style="margin-bottom:1rem;color: white;padding: .65rem 1.15rem; background-color:#17a2b8;">{{ likes.count }}</a>
        </div>
        {% empty %}

            <form method="post">
              {% csrf_token %}
              {{ likeform | crispy }}
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-info form-control text-center" style="margin-bottom:1rem;padding: .65rem 1.15rem;" type="submit"><img src="{% static 'arrow.png' %}" style="height:1.5rem;">&nbsp;Upvote</button>
                <a class="btn btn-outline-info form-control " style="margin-bottom:1rem;color: white;padding: .65rem 1.15rem; background-color:#17a2b8;">{{ likes.count }}</a>
              </div>
            </form>
        {% endfor %}
      </div>
      {% else %}
      <div class="col-sm">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-outline-info form-control text-center disabled" style="color:white;margin-bottom:1rem;padding: .65rem 1.15rem;background-color:#17a2b8;"><img src="{% static 'arrow.png' %}" style="height:1.5rem;">&nbsp;Upvote</a>
        <a class="btn btn-outline-info form-control " style="margin-bottom:1rem;color: white;padding: .65rem 1.15rem; background-color:#17a2b8;">{{ likes.count }}</a>
      </div>
      </div>
      {% endif %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
