{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block style_block %}
<style media="screen">
  iframe{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
  }
</style>
{% endblock %}
{% block title_block %}
<title>Forum: {{ question.text }} | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
<div class="card" style="border-radius:0px;">
  {% if question.user.is_staff %}
    <div class="card-header">By : {{ question.user }} <img src="{% static 'verified.png' %}" style="height:1.2rem;"> , <a class="date">{{ question.time | timesince }} ago</a></div>
  {% else %}
    <div class="card-header">By : {{ question.user }}  , <a class="date">{{ question.time | timesince }} ago</a></div>
  {% endif %}
  <div class="card-body" style="background-color:#e0e0e0;">
    <h5 class="card" style="border-radius:0px;"><div class="card-body">{{ question.text }}</div></h5>
    <br>
    {% for comment in comments %}
          <div class="card" style="border-radius:0px;">
            <div class="card-header" style="border-radius:0px;">
              {% if comment.user.is_staff %}
              <p class="card-text"><small>By : {{ comment.user }} <img src="{% static 'verified.png' %}" style="height:1rem;"> ,
                {% if comment.user == user %}
                <a class="date">{{ comment.time | timesince }} ago&nbsp;&nbsp;<a class="badge badge-info" style="font-size:0.8rem;" href='{% url 'forums:comment_edit' comment.id %}'>Edit</a>&nbsp;<a class="badge badge-danger" style="font-size:0.8rem;" href='{% url 'forums:comment_delete' comment.id %}'>Delete</a></a>
                {% else %}
                <a class="date">{{ comment.time | timesince }} ago</a>
                {% endif %}
              </small></p>
              {% else %}
              <p class="card-text"><small>By : {{ comment.user }} ,
                {% if comment.user == user %}
                <a class="date">{{ comment.time | timesince }} ago&nbsp;&nbsp;<a class="badge badge-info" style="font-size:0.8rem;" href='{% url 'forums:comment_edit' comment.id %}'>Edit</a>&nbsp;<a class="badge badge-danger" style="font-size:0.8rem;" href='{% url 'forums:comment_delete' comment.id %}'>Delete</a></a>
                {% else %}
                <a class="date">{{ comment.time | timesince }} ago</a>
                {% endif %}
              </small></p>
              {% endif %}
            </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.text | linebreaksbr | urlize }}</p>
                </div>
                <!--
                {% if comment.user.is_staff %}
                  <div class="card-footer text-muted">{{ comment.user }} <img src="{% static 'verified.png' %}" style="height:1.2rem;"> , <a class="date">{{ comment.time | timesince }}</a></div>
                {% else %}
                  <div class="card-footer text-muted">{{ comment.user }} , <a class="date">{{ comment.time | timesince }}</a></div>
                {% endif %}
              -->
              <iframe src='{% url 'forums:forum_like' comment.id %}' style="border-style:none;height:4rem;" scrolling="no"></iframe>
          </div>
          <br>
    {% empty %}
    <div class="alert alert-warning" role="alert">Be the first one to answer!</div>
    {% endfor %}
    </div>
    <div class="card-footer">
    {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          {{ commentform | crispy }}
          <input class="btn btn-info" type="submit" value="Answer">
        </form>
    {% else %}
    <div class="row">
      <div class="col-md">
        <div class="card text-center" style="color: #004085;background-color: #cce5ff;border-color: #b8daff;">
          <div class="card-body">You need to <strong><a href='{% url 'users:user_login' %}'>login</a></strong> to upvote or answer.</div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  </div>
  <br>
</div>


{% endblock %}
