{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %}
<title>Forums | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-3">

    <div class="card text-center" style="border-radius:0px;">
      <h5 class="card-header">Welcome to Forums</h5>
    <div class="card-body">
      <div class="alert alert-info" style="margin-bottom:0px;">
      Here you can ask questions, share your experiences, and discuss topics of mutual interest.
    </div>
    </div>
    </div>

    <br>
    <div class="card" style="border-radius:0px;">
      <h5 class="card-header">Have doubts? Feel free to ask questions.</h5>
      <div class="card-body">
        {% if user.is_authenticated %}
          <!-- <a href="#" class="btn btn-success form-control">Ask Question</a> -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-info form-control" data-toggle="modal" data-target="#exampleModal">Ask a Question</button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ask a Question</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="post" >
                  <div class="modal-body">
                  {% csrf_token %}
                  {{ questionform | crispy }}
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-info" autocomplete="off" value="Ask">
                </div>
              </form>
              </div>
            </div>
          </div>
        {% else %}
        <div class="alert alert-info" style="margin-bottom:0px;" role="alert">You need to <strong><a href='{% url 'users:user_login' %}'>login</a></strong> to ask questions.</div>
        {% endif %}
      </div>
    </div>
    <br>
  </div>
<div class="col-md-6">
  <div class="card" style="border-radius:0px;">
    <div class="card-header text-center bg-info" style="border-radius:0px;color: white;">Questions asked by users</div>
    <div class="card-body" style="padding:10px;">
      <ul class="list-group list-group-flush">
      {% for question in questions %}
        <li class="list-group-item">
          <h5 class="card-title"><a href="{% url 'forums:forum_detail' question.id %}" style="color: #212529;">{{ question.text }}</a></h5>
            {% if question.user.is_staff %}
            <p class="card-text"><small class="text-muted">By : {{ question.user }} <img src="{% static 'verified.png' %}" style="height:1rem;"> ,
              {% if question.user == user %}
              <a class="date">{{ question.time | timesince }} ago&nbsp;&nbsp;<a class="badge badge-info" style="font-size:0.8rem;" href='{% url 'forums:forum_edit' question.id %}'>Edit</a>&nbsp;<a class="badge badge-danger" style="font-size:0.8rem;" href='{% url 'forums:forum_delete' question.id %}'>Delete</a></a>
              {% else %}
              <a class="date">{{ question.time | timesince }} ago</a>
              {% endif %}
            </small></p>
            {% else %}
            <p class="card-text"><small class="text-muted">By : {{ question.user }} ,
              {% if question.user == user %}
              <a class="date">{{ question.time | timesince }} ago,&nbsp;&nbsp;<a class="badge badge-info" style="font-size:0.8rem;" href='{% url 'forums:forum_edit' question.id %}'>Edit</a>&nbsp;<a class="badge badge-danger" style="font-size:0.8rem;" href='{% url 'forums:forum_delete' question.id %}'>Delete</a></a>
              {% else %}
              <a class="date">{{ question.time | timesince }} ago</a>
              {% endif %}
            </small></p>
            {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <br>
</div>

<div class="col-md-3">
  <div class="card" style="border-radius:0px;">
    <div class="card-header text-center bg-info" style="border-radius:0px;color: white;">Questions picked for you</div>
  <div style="padding:5px;">
  <ul class="list-group list-group-flush">
    {% for question in questions %}
      {% if question.user.is_staff %}
      <li class="list-group-item">
      <p class="card-text"><a href="{% url 'forums:forum_detail' question.id %}">{{ question.text }}</a></p>
    </li>
      {% endif %}
    {% endfor %}
  </ul>
  </div>
  </div>
  <br>
</div>
</div>
</div>
{% endblock %}
