{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %}
<title>Forums | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}
<div class="container">
{% if question.user == user %}
  <div class="card" style="border-radius:0px;">
    <div class="card-header bg-danger" style="border-radius:0px;color:white;">
      By : {{ question.user }} , <a class="date">{{ question.time | timesince }} ago</a>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" role="alert">
        Are you sure you want to delete this record?
      </div>
      <div class="alert alert-danger" role="alert">
        {{ question.text }}
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" autocomplete="off" value="Delete">
      </form>
    </div>
  </div>
  <br>
  {% else %}
  <div class="alert alert-info text-center">
    Invalid Request!
  </div>
  {% endif %}
</div>
{% endblock %}
