{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %}
<title>Profile | Polaris 2k18 - The TechFest | Guru Nanak Dev University</title>
{% endblock %}
{% block body_block %}

<div class="container">
      <div class="card" style="border-radius:0px;">
        <h5 class="card-header bg-info text-center" style="border-radius:0px;color:white;">
          Change password
        </h5>
        <div class="card-body">
          <div class="alert alert-info" role="alert">Please enter your new Password.</div>
          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-info" type="submit" value="Change password">
          </form>
        </div>
      </div>
      <br>
</div>
{% endblock %}
