.card{
  z-index: 4;
}
body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
@media screen and (max-width: 670px) {
  #a1 , #b1 , #a2 , #b2 , #a3 , #b3 {
    display: none !important;
  }
}

/*
.col-md-2{
  padding: 3.02115vh;
  font-size: 3.7754vh;
  color: white;
  border-bottom: 2px solid white;
  z-index: 3;
}

.col-md-4{
  padding: 0px;
  font-family: noise;
  font-size: 8.157vh;
  color: white;
  border-bottom: 2px solid white;
  z-index: 3;
}
*/
#a1 , #a2 , #a3{
  position: absolute;
  height: 110%;
  z-index: 1;
  right: 50px;
  -webkit-animation: mymove linear 35s infinite;
  animation: mymove linear 35s infinite;
  border-radius: 50%;
}
#b1 , #b2 {
  position: absolute;
  height: 110%;
  z-index: 1;
  right:50px;
  -webkit-animation: omymove linear 35s infinite;
  animation: omymove linear 35s infinite;
  border-radius: 50%;
}
#b3{
  position: absolute;
  height: 110%;
  z-index: 1;
  right: 50px;
  border-radius: 50%;
}
#b4{
  position: fixed;
  height: 110%;
  z-index: 1;
  right: 50px;
  border-radius: 50%;
}
@-webkit-keyframes mymove {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@-webkit-keyframes omymove {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

@keyframes mymove {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes omymove {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

#aa{
    position: absolute;
    z-index: 2;
}
#bb{
    position: absolute;
    -webkit-animation: spin 1.6s ease-in-out infinite;
    animation: spin 1.6s ease-in-out infinite;
    z-index: 2;
}
#cc{
    position: absolute;
    z-index: 2;
}

@-webkit-keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    65.35%{
        transform: rotate(380deg);
    }
    78.74%{
        transform: rotate(345deg);
    }
    88.976%{
        transform: rotate(370deg);
    }
    96.063%{
        transform: rotate(355deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    65.35%{
        transform: rotate(380deg);
    }
    78.74%{
        transform: rotate(345deg);
    }
    88.976%{
        transform: rotate(370deg);
    }
    96.063%{
        transform: rotate(355deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
